<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bgapps&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/womancurly&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/avatarButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;135dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;129dp&quot;</span>
        <span class="s1">android:layout_alignParentLeft</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;370dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/womancurly&quot;</span>
        <span class="s1">android:contextClickable</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/woman&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;38sp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;495dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;AVATAR&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFA000&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/gameButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;135dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;129dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;370dp&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/game&quot;</span>
        <span class="s1">android:contextClickable</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/game&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;235dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;495dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;GAMES&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFA000&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/photoButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;135dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;129dp&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;370dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/picture&quot;</span>
        <span class="s1">android:contextClickable</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/picture&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;432dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;495dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;PHOTOS&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFA000&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;ImageButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/activityButton&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;400dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;190dp&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;570dp&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/oceannn&quot;</span>
        <span class="s1">android:contextClickable</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/ocean&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;640dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;START ACTIVITIES!&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFF&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;CalendarView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/calendarView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;250dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;298dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;25dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFA000&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;210dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;301dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#FFF&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Welcome!&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFA000&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/weather&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;40sp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;400dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;41dp&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/partlycloudy&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:layout_alignParentRight</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/fish&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ProgressBar</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/progressBar2&quot;</span>
        <span class="s1">style</span><span class="s2">=&quot;?android:attr/progressBarStyle&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;169dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;157dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#fe104d&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;350dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;140dp&quot; </span><span class="s0">/&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span>


</pre>
</body>
</html>